*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding-top: 20px;
    /* box-shadow: 0px 0px 10px 10px black; */
    background-color: 	#4385ff;
    color: white;
    border-radius: 10px;
    /* height: 100vh; */
    /* box-shadow: 0px 0px 10px 3px #172b52; */

    /* justify-content: center; */
}

.question-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: px; */
    /* box-shadow: 0px 0px 10px 10px grey; */
}

#answer-is {
    margin: 12px;
}

.question {
    margin: 12px;
    text-align: center;
    color: black;
    font-size: 30px;
}

.answers {
    display: flex;
    /* height: 350px; */
    flex-direction: column;
    text-align: center;
}

.answer {
    margin: 18px 12px;
    padding: 12px 12px;
    width: 200px;
    transition: 0s;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px #172b52;
}

.answer:hover {
    /* border-top: 2px solid black;
    border-bottom: 2px solid black; */
    cursor: pointer;
    
}

.border-green {
    background-color: #32cd32;
    color: white;
}

.border-red {
    background-color: #a70000;
    color: white;
}

.hide {
    display: none;
}

.winner {
    /* position: relative;
    left: 200px;
    bottom: 200px; */
    height: 200px;
    width: 260px;
    margin-left: 50px;
}

.controls {
    padding-bottom: 20px;
}
